TimeStampAndCRL should be a Sequence not a SequenceOf

Hello,
in the `tsp.py` module, the class `TimeStampAndCRL` is defined as a `SequenceOf`:

```
class TimeStampAndCRL(SequenceOf):
    _fields = [
        ('time_stamp', EncapsulatedContentInfo),
        ('crl', CertificateList, {'optional': True}),
    ]
```

instead, according to the [RFC5544](https://tools.ietf.org/html/rfc5544), it should be a `Sequence`:

```
TimeStampAndCRL ::= SEQUENCE {
         timeStamp   TimeStampToken,          -- according to RFC 3161
         crl         CertificateList OPTIONAL -- according to RFC 5280
      }
```

It actually contains the `_fields` member that is used by `Sequence`, probably it was mispelled.


Thanks!